@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
}

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
